.u-section-1 .u-sheet-1 {
    min-height: 520px;
  }
  
  .u-section-1 .u-image-1 {
    width: 122px;
    height: 122px;
    margin: 25px 224px 0 auto;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    width: 570px;
    margin: -87px auto 0 0;
  }
  
  .u-section-1 .u-layout-cell-1 {
    min-height: 400px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }
  
  .u-section-1 .u-icon-1 {
    width: 49px;
    height: 48px;
    margin: -43px auto 0 0;
    padding: 4px;
  }
  
  .u-section-1 .u-text-1 {
    font-weight: 700;
    margin: -6px auto 0 178px;
  }
  
  .u-section-1 .u-image-2 {
    width: 327px;
    height: 327px;
    margin: 2px auto 0 91px;
  }
  
  .u-section-1 .u-form-1 {
    height: 201px;
    background-image: none;
    margin: -294px -570px 0 570px;
  }
  
  .u-section-1 .u-input-1 {
    text-transform: none;
  }
  
  .u-section-1 .u-input-2 {
    text-transform: none;
  }
  
  .u-section-1 .u-btn-1 {
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    background-image: none;
    text-transform: none;
  }
  
  .u-section-1 .u-layout-wrap-2 {
    width: 570px;
    margin: 0 -570px 0 auto;
  }
  
  .u-section-1 .u-layout-cell-2 {
    min-height: 146px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 17px 30px;
  }
  
  .u-section-1 .u-text-2 {
    margin: 12px 0 0;
  }
  
  .u-section-1 .u-btn-2 {
    background-image: none;
    border-style: none none solid;
    margin: 12px auto 0;
    padding: 0;
  }
  
  .u-section-1 .u-layout-cell-3 {
    min-height: 146px;
  }
  
  .u-section-1 .u-container-layout-3 {
    padding: 17px 30px;
  }
  
  .u-section-1 .u-text-3 {
    margin: 22px auto 0;
  }
  
  .u-section-1 .u-btn-3 {
    background-image: none;
    border-style: none none solid;
    margin: 22px auto 0;
    padding: 0 8px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 834px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      position: relative;
    }
  
    .u-section-1 .u-icon-1 {
      height: 49px;
    }
  
    .u-section-1 .u-btn-3 {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 220px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-1 .u-layout-cell-3 {
      min-height: 100px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-layout-wrap-1 {
      width: 540px;
    }
  
    .u-section-1 .u-form-1 {
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-1 .u-layout-wrap-2 {
      width: 540px;
      margin-right: 0;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-image-1 {
      margin-right: 218px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: 340px;
    }
  
    .u-section-1 .u-text-1 {
      margin-left: 112px;
    }
  
    .u-section-1 .u-image-2 {
      margin-left: 13px;
    }
  
    .u-section-1 .u-layout-wrap-2 {
      width: 340px;
    }
  }