<section class="u-clearfix u-section-1" id="sec-dd91">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h2 class="u-text u-text-default u-text-1">Registro Cliente</h2>
    <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-1">
            <div class="u-container-layout u-container-layout-1"><span class="u-border-2 u-border-custom-color-2 u-file-icon u-icon u-icon-circle u-text-custom-color-2 u-icon-1"><img src="../assets/images/12.png" alt=""></span>
              <div class="u-form u-form-1">
                <form action="#" [formGroup]="registroForm" (ngSubmit)="registrar($event)" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
                  <div class="u-form-group u-form-name">
                    <label for="name-91fb" class="u-label">Nombre</label>
                    <input formControlName="nombre" type="text" placeholder="Ingrese su nombre" id="name-91fb" name="name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
                    </div>
                  <div class="u-form-email u-form-group">
                    <label for="email-91fb" class="u-label">Apellido</label>
                    <input formControlName="apellido" type="text" placeholder="Ingrese su apellido" id="email-91fb" name="apellido" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
                  </div>
                  <div class="u-form-date u-form-group u-form-group-3">
                    <label for="text-f91e" class="u-label">Fecha de nacimiento</label>
                    <input formControlName="fecha" type="date" id="text-f91e" name="nacimiento" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
                  </div>
                  <div class="u-form-group u-form-group-4">
                    <label for="text-8c20" class="u-label">Correo Electronico</label>
                    <input formControlName="correo" type="email" placeholder="Ingrese su correo electrónico" id="text-8c20" name="text" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
                  </div>
                  <div class="u-form-group u-form-group-5">
                    <label for="text-7e94" class="u-label">Usuario</label>
                    <input formControlName="usuario" type="text" placeholder="Ingrese su usuario" id="text-7e94" name="text-1" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
                  </div>
                  <div class="u-form-group u-form-group-6">
                    <label for="text-fdf7" class="u-label">Contraseña</label>
                    <input formControlName="contrasena" type="password" placeholder="Ingrese su contraseña" id="text-fdf7" name="text-2" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
                  </div>
                  <div class="u-align-center u-form-group u-form-submit">
                    <a class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-custom-color-2 u-hover-custom-color-1 u-radius-25 u-btn-1">Registrar<br>
                    </a>
                    <input type="submit" value="submit" class="u-form-control-hidden">
                  </div>
                </form>
              </div>
              <h1 class="u-text u-text-default u-text-2">Cliente</h1>
              <img class="u-image u-image-round u-preserve-proportions u-radius-50 u-image-1" src="../assets/images/Mototaxi Deluxe (1).png" alt="" data-image-width="500" data-image-height="500">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>