.u-section-1 .u-sheet-1 {
    min-height: 672px;
  }
  
  .u-section-1 .u-text-1 {
    font-weight: 700;
    margin: 21px 156px 0 auto;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    width: 570px;
    margin: 0 auto 20px 0;
  }
  
  .u-section-1 .u-layout-cell-1 {
    min-height: 592px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }
  
  .u-section-1 .u-icon-1 {
    width: 49px;
    height: 48px;
    margin: -43px auto 0 0;
    padding: 4px;
  }
  
  .u-section-1 .u-form-1 {
    height: 403px;
    margin: -5px -570px 0 570px;
  }
  
  .u-section-1 .u-form-group-3 {
    margin-left: 0;
  }
  
  .u-section-1 .u-form-group-4 {
    margin-left: 0;
  }
  
  .u-section-1 .u-form-group-5 {
    margin-left: 0;
  }
  
  .u-section-1 .u-form-group-6 {
    margin-left: 0;
  }
  
  .u-section-1 .u-btn-1 {
    background-image: none;
    border-style: none;
  }
  
  .u-section-1 .u-text-2 {
    font-weight: 700;
    margin: -531px auto 0;
  }
  
  .u-section-1 .u-image-1 {
    width: 327px;
    height: 327px;
    margin: 21px auto 132px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 519px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      position: relative;
      width: 470px;
    }
  
    .u-section-1 .u-form-1 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-text-2 {
      margin-top: -532px;
      margin-left: 147px;
    }
  
    .u-section-1 .u-image-1 {
      margin-top: 22px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 220px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 100px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-text-1 {
      margin-right: 98px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: 340px;
    }
  
    .u-section-1 .u-form-1 {
      margin-top: -24px;
    }
  
    .u-section-1 .u-text-2 {
      margin-top: -513px;
      margin-left: 106px;
    }
  }