<section class="u-clearfix u-section-1" id="sec-dd91">
    <div class="u-clearfix u-sheet u-sheet-1">
      <img class="u-image u-image-default u-preserve-proportions u-image-1" src="../assets/images/Icono usuario.png" alt="" data-image-width="256" data-image-height="256">
      <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-1">
              <div class="u-container-layout u-container-layout-1"><span class="u-border-2 u-border-custom-color-2 u-file-icon u-icon u-icon-circle u-text-custom-color-2 u-icon-1"><img src="../assets/images/12.png" alt=""></span>
                <h1 class="u-text u-text-default u-text-1">Cliente</h1>
                <img class="u-image u-image-round u-preserve-proportions u-radius-50 u-image-2" src="../assets/images/Mototaxi Deluxe (1).png" alt="" data-image-width="500" data-image-height="500">
                <div class="u-form u-form-1">
                  <form action="#" method="POST" class="u-clearfix u-form-spacing-20 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="Iniciar Sesión">
                    <div class="u-form-group u-form-name u-label-none">
                      <label for="name-3b9a" class="u-label">Name</label>
                      <input type="text" placeholder="Nombre de Usuario" id="name-3b9a" name="name" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-1" required="">
                    </div>
                    <div class="u-form-email u-form-group u-label-none">
                      <label for="email-3b9a" class="u-label">Email</label>
                      <input type="email" placeholder="Contraseña" id="email-3b9a" name="email" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-2" required="">
                    </div>
                    <div class="u-align-center u-form-group u-form-submit">
                      <a href="#" class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-custom-color-2 u-hover-custom-color-1 u-radius-25 u-btn-1">Iniciar Sesión<br>
                      </a>
                      <input type="submit" value="submit" class="u-form-control-hidden">
                    </div>
                    <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                    <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                    <input type="hidden" value="" name="recaptchaResponse">
                  </form>
                </div>
                <div class="u-clearfix u-layout-wrap u-layout-wrap-2">
                  <div class="u-layout">
                    <div class="u-layout-row">
                      <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                          <h6 class="u-align-center u-text u-text-2">¿Has olvidado tu contraseña?</h6>
                          <a href="https://nicepage.me" class="u-active-none u-border-2 u-border-palette-1-base u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-top-left-radius-0 u-top-right-radius-0 u-btn-2">Recuperar Contraseña</a>
                        </div>
                      </div>
                      <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-3">
                        <div class="u-container-layout u-container-layout-3">
                          <h6 class="u-text u-text-default u-text-3">¿No te has unido?</h6>
                          <a href="https://nicepage.me" class="u-active-none u-border-2 u-border-palette-1-base u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-top-left-radius-0 u-top-right-radius-0 u-btn-3">Registrarse</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>