<section class="u-clearfix u-section-1" id="sec-b549">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-align-center u-text u-text-1">Solicitud de Servicio</h2>
    </div>
  </section>
  <section class="u-clearfix u-section-2" id="sec-350b">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-1">
              <div class="u-container-layout u-container-layout-1">
                <div class="u-clearfix u-custom-html u-expanded-width u-custom-html-1">
                  <table class="tablaRutas">
                    <tbody>
                      <tr>
                        <th>Ruta</th>
                        <th>Distancia (km)</th>
                      </tr>
                      <tr>
                        <td>Centro - Pilaca &amp; Vic.</td>
                        <td>9.5</td>
                      </tr>
                      <tr>
                        <td>Centro - Limonal &amp; Vic.</td>
                        <td>6.9</td>
                      </tr>
                      <tr>
                        <td>Centro - La Granja &amp; Vic.</td>
                        <td>7.7</td>
                      </tr>
                      <tr>
                        <td>Centro - Mesetas &amp; Vic.</td>
                        <td>1.2</td>
                      </tr>
                      <tr>
                        <td>Centro - Santa Ana &amp; Vic.</td>
                        <td>9.7</td>
                      </tr>
                      <tr>
                        <td>Centro - Las Mercedes &amp; Vic.</td>
                        <td>6.4</td>
                      </tr>
                      <tr>
                        <td>Centro - San Bernardo &amp; Vic.</td>
                        <td>12</td>
                      </tr>
                      <tr>
                        <td>Centro - Guane &amp; Vic.</td>
                        <td>14</td>
                      </tr>
                      <tr>
                        <td>Pilaca - Limonal &amp; Vic.</td>
                        <td>4.3</td>
                      </tr>
                      <tr></tr>
                      <tr>
                        <td>Pilaca - La Granja &amp; Vic.</td>
                        <td>2.3</td>
                      </tr>
                      <tr>
                        <td>Pilaca - Mesetas &amp; Vic.</td>
                        <td>7.9</td>
                      </tr>
                      <tr>
                        <td>Pilaca - Santa Ana &amp; Vic.</td>
                        <td>15</td>
                      </tr>
                      <tr>
                        <td>Pilaca - Las Mercedes &amp; Vic.</td>
                        <td>11</td>
                      </tr>
                      <tr>
                        <td>Pilaca - San Bernardo &amp; Vic.</td>
                        <td>17</td>
                      </tr>
                      <tr>
                        <td>Pilaca - Guane &amp; Vic.</td>
                        <td>19</td>
                      </tr>
                      <tr>
                        <td>Limonal - La Granja &amp; Vic.</td>
                        <td>3.1</td>
                      </tr>
                      <tr>
                        <td>Limonal - Mesetas &amp; Vic.</td>
                        <td>6.9</td>
                      </tr>
                      <tr>
                        <td>Limonal - Santa Ana &amp; Vic.</td>
                        <td>12</td>
                      </tr>
                      <tr>
                        <td>Limonal - Las Mercedes &amp; Vic.</td>
                        <td>9.3</td>
                      </tr>
                      <tr>
                        <td>Limonal - San Bernardo &amp; Vic.</td>
                        <td>14</td>
                      </tr>
                      <tr>
                        <td>Limonal - Guane &amp; Vic.</td>
                        <td>17</td>
                      </tr>
                      <tr>
                        <td>La Granja - Mesetas &amp; Vic.</td>
                        <td>5.7</td>
                      </tr>
                      <tr>
                        <td>La Granja - Santa Ana &amp; Vic.</td>
                        <td>13</td>
                      </tr>
                      <tr>
                        <td>La Granja - Las Mercedes &amp; Vic.</td>
                        <td>10</td>
                      </tr>
                      <tr>
                        <td>La Granja - San Bernardo &amp; Vic.</td>
                        <td>15</td>
                      </tr>
                      <tr>
                        <td>La Granja - Guane &amp; Vic.</td>
                        <td>18</td>
                      </tr>
                      <tr>
                        <td>Mesetas - Santa Ana &amp; Vic.</td>
                        <td>8.4</td>
                      </tr>
                      <tr>
                        <td>Mesetas - Las Mercedes &amp; Vic.</td>
                        <td>5.2</td>
                      </tr>
                      <tr>
                        <td>Mesetas - San Bernardo &amp; Vic.</td>
                        <td>10</td>
                      </tr>
                      <tr>
                        <td>Mesetas - Guane &amp; Vic.</td>
                        <td>13</td>
                      </tr>
                      <tr>
                        <td>Santa Ana - Las Mercedes &amp; Vic.</td>
                        <td>5</td>
                      </tr>
                      <tr>
                        <td>Santa Ana - San Bernardo &amp; Vic.</td>
                        <td>4.6</td>
                      </tr>
                      <tr>
                        <td>Santa Ana - Guane &amp; Vic.</td>
                        <td>12</td>
                      </tr>
                      <tr>
                        <td>Las Mercedes - San Bernardo &amp; Vic.</td>
                        <td>3.1</td>
                      </tr>
                      <tr>
                        <td>Las Mercedes - Guane &amp; Vic.</td>
                        <td>7.7</td>
                      </tr>
                      <tr>
                        <td>San Bernardo - Guane &amp; Vic.</td>
                        <td>8.3</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-size-21 u-layout-cell-2">
              <div class="u-container-layout u-container-layout-2">
                <div class="u-form u-form-1">
                  <form [formGroup]="formCalcular" action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
                    <div class="u-form-group u-form-select u-form-group-1">
                      <label for="select-dddd" class="u-label">Destinooo</label>
                      <!--<div class="u-form-select-wrapper">
                        <select id="select-dddd" name="select" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required">
                          <option value="Item 1">Item 1</option>
                          <option value="Item 2">Item 2</option>
                          <option value="Item 3">Item 3</option>
                        </select>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
                      </div>-->
                        <mat-form-field appearance="fill" class="text">
                            <mat-icon matPrefix>location_on</mat-icon>
                            <mat-label>Elige tú destino</mat-label>
                            <mat-select matSelect formControlName="destino1" (ngModelChange)="selectDestino.id">
                                <mat-option *ngFor="let des of destino" value ={{des.id}}>{{des.lugarDestino}}</mat-option>
                            </mat-select>
                            <!--<mat-error *ngIf="formCalcular.controls.destino1.hasError('required')">
                                Este campo es<strong> obligatorio</strong>
                            </mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="u-form-group u-form-select u-form-group-2">
                      <label for="select-5b47" class="u-label">Ubicación</label>
                      <!--<div class="u-form-select-wrapper">
                        <select id="select-5b47" name="select-1" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                          <option value="Item 1">Item 1</option>
                          <option value="Item 2">Item 2</option>
                          <option value="Item 3">Item 3</option>
                        </select>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
                      </div>-->
                        <mat-form-field appearance="fill" class="text">
                            <mat-icon matPrefix>sports_score</mat-icon>
                            <mat-label>Elige tú ubicacion</mat-label>
                            <mat-select matSelect formControlName="ubicacion1" (ngModelChange)="selectUbicacion.id">
                                <mat-option *ngFor="let ubi of ubicacion" value ={{ubi.id}}>{{ubi.lugarUbicacion}}</mat-option>
                            </mat-select>
                            <!--<mat-error *ngIf="formCalcular.controls.ubicacion1.hasError('required')">
                                Este campo es<strong> obligatorio</strong>
                            </mat-error>
                            <mat-error *ngIf="formCalcular.controls.ubicacion1.hasError('verificacionSolicitud')">
                                No se puede ingresar el mismo destino
                            </mat-error>-->
                        </mat-form-field>
                    </div>
                  </form>
                </div>
                <div class="u-form u-form-2">
                  <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form-1" style="padding: 10px;">
                    <div class="u-form-group u-form-name">
                      <label for="name-f5b2" class="u-label">Kilometros</label>
                      <input type="text" placeholder="{{this.kilometros}}" id="name-f5b2" name="text" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" disabled style="text-align: center;">
                    </div>
                    <div class="u-form-email u-form-group">
                      <label for="email-f5b2" class="u-label">Tarifa</label>
                      <input type="text" placeholder="{{this.tarifa}}" id="email-f5b2" name="text-1" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" disabled style="text-align: center;">
                    </div>
                    <div class="u-align-center u-form-group u-form-submit">
                      <a (click)="calcular()" class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-custom-color-2 u-hover-custom-color-1 u-radius-25 u-btn-2">Calcular</a>
                      <input type="submit" value="submit" class="u-form-control-hidden">
                    </div>
                  </form>
                </div>
                <div class="u-align-center-sm u-align-center-xs u-form u-form-3">
                  <form [formGroup]="formSolicitar" (ngSubmit)="solicitarServicio()" action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form-2" style="padding: 10px;">
                    <div class="u-form-group u-form-message">
                      <label for="message-3d5d" class="u-label">Descripción</label>
                      <textarea formControlName="descripcion" placeholder="Ingrese una breve descripción del servicio, si lo requiere" rows="4" cols="50" id="message-3d5d" name="message" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white"></textarea>
                    </div>
                    <div class="u-form-group u-form-select u-form-group-8">
                      <label for="select-1bc7" class="u-label">Metodo de pago</label>
                      <!--<div class="u-form-select-wrapper">
                        <select id="select-1bc7" name="select" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required">
                          <option value="Item 1">Item 1</option>
                          <option value="Item 2">Item 2</option>
                          <option value="Item 3">Item 3</option>
                        </select>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
                      </div>-->
                        <mat-form-field appearance="fill" class="text">
                            <mat-icon matPrefix>credit_card</mat-icon>
                            <mat-label>Elige tú metodo de pago</mat-label>
                            <mat-select matSelect formControlName="pag" (ngModelChange)="selectPago.id">
                                <mat-option *ngFor="let pag of pago" value ={{pag.id}}>{{pag.descripcion}}</mat-option>
                            </mat-select>
                            <!--<mat-error *ngIf="formSolicitar.controls.pag.hasError('required')">
                                Este campo es<strong> obligatorio</strong>
                            </mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="u-align-center u-form-group u-form-submit">
                      <a class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-custom-color-2 u-hover-custom-color-1 u-radius-25 u-btn-3"> Solicitar</a>
                      <input type="submit" value="submit" class="u-form-control-hidden">
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="u-align-center-lg u-align-center-md u-align-center-xl u-container-style u-layout-cell u-size-19 u-layout-cell-3">
              <div class="u-container-layout u-container-layout-3"><span class="u-border-2 u-border-custom-color-2 u-icon u-icon-circle u-text-custom-color-2 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 51.997 51.997"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-0d95"></use></svg><svg class="u-svg-content" viewBox="0 0 51.997 51.997" x="0px" y="0px" id="svg-0d95" style="enable-background:new 0 0 51.997 51.997;"><path d="M51.911,16.242C51.152,7.888,45.239,1.827,37.839,1.827c-4.93,0-9.444,2.653-11.984,6.905
  c-2.517-4.307-6.846-6.906-11.697-6.906c-7.399,0-13.313,6.061-14.071,14.415c-0.06,0.369-0.306,2.311,0.442,5.478
  c1.078,4.568,3.568,8.723,7.199,12.013l18.115,16.439l18.426-16.438c3.631-3.291,6.121-7.445,7.199-12.014
  C52.216,18.553,51.97,16.611,51.911,16.242z"></path></svg></span>
                <h3 class="u-align-center-sm u-align-center-xs u-text u-text-default u-text-1" style="position: relative; margin-left: 47px; font-size: 20px;">Conductores Disponibles</h3>
                <div class="u-table u-table-responsive u-table-1">
                  <table class="u-table-entity">
                    <colgroup>
                      <col width="50%">
                      <col width="50%">
                    </colgroup>
                    <tbody class="u-align-center u-custom-font u-heading-font u-table-body">
                      <tr style="height: 46px;">
                        <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Row 1</td>
                        <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Description</td>
                      </tr>
                      <tr style="height: 46px;">
                        <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Row 2</td>
                        <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Description</td>
                      </tr>
                      <tr style="height: 46px;">
                        <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Row 3</td>
                        <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Description</td>
                      </tr>
                      <tr style="height: 46px;">
                        <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Row 4</td>
                        <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Description</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>